#app-body {
	margin: 0px;
	overflow: hidden;
}

.settings-box {
	padding: 10px;
}

.settings-heading {
	color: rgb(255, 255, 255);
	cursor: default;
	display: block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	height: 16px;
	font-weight: normal;
	padding-bottom: 3px;
}

.settings-label {
	color: rgb(223, 225, 226);
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	height: auto;
}

.settings-select {
	color: white;
	background-color: #333333;
	font-size: 14px;
	padding: 5px;
	border-color: rgb(79, 82, 84);
	border-width: 1px;
	border-style: solid;
	border-radius: 2px;
	width: 100%
}

.settings-input {
	-webkit-appearance: none;
	border-radius: 2px;
	height: 1.5em;
	background-color: rgb(62, 64, 66);
	border-color: rgb(79, 82, 84);
	border-style: solid;
	border-width: 1px;
	box-sizing: border-box;
	color: rgb(183, 187, 191);
	cursor: auto;
	display: block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: normal;
	margin: 0px;
	min-width: 14px;
	outline-color: rgb(183, 187, 191);
	outline-style: none;
	outline-width: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	width: 100%;
}

.settings-text-box {
	-webkit-appearance: none;
	border-radius: 2px;
	height: 3em;
	background-color: rgb(62, 64, 66);
	border-bottom-color: rgb(79, 82, 84);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: rgb(79, 82, 84);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: rgb(79, 82, 84);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: rgb(79, 82, 84);
	border-top-style: solid;
	border-top-width: 1px;
	box-sizing: border-box;
	color: rgb(183, 187, 191);
	cursor: auto;
	display: block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: normal;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	min-width: 14px;
	outline-color: rgb(183, 187, 191);
	outline-style: none;
	outline-width: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	width: 100%;
}

.settings-error {
	color: #333333;
	background-color: #FFCCCC;
	padding: 5px;
}

.save-button {
	-webkit-appearance: none;
	background-color: rgb(5, 114, 206);
	background-image: linear-gradient(rgb(5, 125, 226) 0%, rgb(5, 114, 206) 50%, rgb(5, 108, 196) 100%);
	border-bottom-color: rgb(5, 114, 206);
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: rgb(5, 114, 206);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: rgb(5, 114, 206);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: rgb(5, 114, 206);
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-top-style: solid;
	border-top-width: 1px;
	box-shadow: none;
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	cursor: default;
	display: inline-block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	height: 28px;
	line-height: 28.00349998474121px;
	margin: 10px 0 5px;
	padding: 0 10px;
	text-align: center;
	text-decoration: none;
	text-shadow: none;
	text-transform: none;
	vertical-align: middle;
	white-space: nowrap;
}

.save-button:hover {
	background-image: none;
	background-color: rgb(6, 131, 236);
	border-color: rgb(6, 131, 236);
}

.save-button:disabled {
	background-image: none;
	background-color: #4F5254;
	border-color: #4F5254;
	color: rgb(112, 113, 114);
}

.save-button:active {
	background-image: none;
	background-color: rgb(4, 97, 176);
	border-color: rgb(4, 97, 176);
}

/**
 * ---------------------------------------
 * Watermarks
 * ---------------------------------------
 */

.scs-watermark {
    border: 1px solid #d7d7d7;
    background-color: #f1f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
	text-align: center;
    padding-top: 64px;
    padding-bottom: 64px;
    color: #6A6A6A;
    font-size: 14px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.scs-watermark .scs-watermark-image {
	font-size: 48px;
	width: 48px;
	height: 48px;
	margin-bottom: 4px;
}

/**
 * ---------------------------------------
 * folder-list App
 *
 * This is a public API
 * https://docs.oracle.com/en/cloud/paas/content-cloud/creating-experiences/customize-folder-list-and-file-list-styles.html
 * ---------------------------------------
 */

.scs-folder-list-container {
	margin: 0px;
	padding: 0.0rem;
}

.scs-folder-list-header {
	background-color: #fcfcfc;
}

.scs-folder-list-folder-title {
	font-size: 28px;
	line-height: 66px;
	font-style: normal;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #313131; /* embed-170 */
	margin-left: 20px;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@media (max-device-width: 767px) {
	.scs-folder-list-folder-title {
		font-size: 24px;
		line-height: 58px;
		margin-left:10px;
	}
}

.scs-folder-list-line-separator {
	border-bottom: 1px solid rgba(49,49,49,0.04);
}

li:not(:last-child) .scs-folder-list-row {
	border-bottom: 1px solid rgba(49,49,49,0.1);
}

.scs-folder-list-row:hover {
	background-color: rgba(49,49,49,0.04);
}

.scs-folder-list-row-active {
	background-color: rgba(49,49,49,0.08);
}

.scs-folder-list-sub-folder-title,
.scs-folder-list-sub-folder-title-active {
	font-size: 16px;
	font-family: 'Helvetica Neue','Segoe UI',sans-serif-regular,Helvetica,Arial,sans-serif;
	color: #313131;
	white-space: nowrap;
	width: 95%;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	font-weight: normal;
	margin-left:20px;
	margin-top:15px;
	margin-bottom:15px;
}

@media (max-device-width: 767px) {
	.scs-folder-list-sub-folder-title,
	.scs-folder-list-sub-folder-title-active {
		font-size: 14px;
		margin-left:10px;
		margin-top:10px;
		margin-bottom:10px;
	}
}

.scs-folder-list-sub-folder-title:hover {
	cursor: pointer;
}

.scs-folder-list-no-folder-msg {
	font-size: 24px;
	font-family: "Helvetica Neue","Segoe UI",sans-serif-regular,Helvetica,Arial,sans-serif;
	color: #333;
	font-weight: normal;
	text-decoration: none;
	margin-left:20px;
}

@media (max-device-width: 767px) {
	.scs-folder-list-no-folder-msg {
		margin-left:10px;
	}
}

.scs-folder-list-center {
	text-align: center;
}

.scs-folder-list-container ul {
	margin: 0px;
	padding: 0px;
}

.scs-folder-list-container li {
	display: list-item;
	margin: 0px;
	padding: 0px;
}


/**
 * ---------------------------------------
 * file-list App
 *
 * This is a public API
 * https://docs.oracle.com/en/cloud/paas/content-cloud/creating-experiences/customize-folder-list-and-file-list-styles.html
 * ---------------------------------------
 */

.scs-file-list-container {
	padding: 0.0rem;
	margin: 0px;
}

.scs-file-list-header {
	background-color: #fcfcfc;
}

.scs-file-list-folder-title {
	font-size: 28px;
	line-height: 66px;
	font-style: normal;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #313131;
	margin-left: 20px;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@media (max-device-width: 767px) {
	.scs-file-list-folder-title {
		font-size: 24px;
		line-height: 58px;
		margin-left:10px;
	}
}

.scs-file-list-line-separator {
	border-bottom: 1px solid rgba(49,49,49,0.04);
}

.scs-file-list-file-title {
	display: block;
	font-size: 16px;
	font-family: 'Helvetica Neue','Segoe UI',sans-serif-regular,Helvetica,Arial,sans-serif;
	color: #313131;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@media (max-device-width: 767px) {
	.scs-file-list-file-title{
		 font-size: 14px;
	}
}

.scs-file-list-file-desc {
	font-size: 12px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: normal;
	color: #666;
	line-height: 16px;
}

.scs-file-list-file-lastModified {
	font-size: 12px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: normal;
	color: #666;
	line-height: 16px;
	display: block;
	float: left;
	padding-right: 1.0rem;
}

.scs-file-list-file-size {
	font-size: 12px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: normal;
	color: #666;
	line-height: 16px;
	display: block;
	float: left;
	padding-left: 1.0rem;
	border-left: 0.0625rem solid #666;
}

.scs-file-list-file-size-no-sep {
	font-size: 12px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: normal;
	color: #666;
	line-height: 16px;
	display: block;
	float: left;
	padding-left: 0px;
}

.scs-file-list-row {
	display: flex;
	align-items: center;
	padding-top: 6px;
	padding-bottom: 6px;
}

.scs-file-list-left-col {
	flex: 1 auto;
	width: 48px;
	min-height: 54px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	margin-left: 20px;
}

@media (max-device-width: 767px) {
	.scs-file-list-left-col {
		 margin-left: 10px;
	}
}

.scs-file-list-left-col img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}

.scs-file-list-mid-col {
	flex: 1 100%;
	min-width: 0;
	overflow: hidden;
	margin-left: 20px;
}

@media (max-device-width: 767px) {
	.scs-file-list-mid-col {
		 margin-left: 10px;
	}
}

.scs-file-list-right-col {
	flex: 1 auto;
	width: 16px;
	align-self: center;
	margin-right: 16px;
	margin-left: 16px;
}

@media (max-device-width: 767px) {
	.scs-file-list-right-col {
		margin-right: 25px;
		margin-left: 20px;
	}
}

.scs-file-list-file-separator {
	border-bottom: 1px solid rgba(49,49,49,0.1);
}

.scs-file-list-file-download-icon {
	background-image: url('../images/func_arrowboxdown_16_ena.png');
	width: 16px;
	height: 16px;
}

/* CCS-71097 - workaround failure to load state background image on iPhone
 * by including base64 encoded image data directly via data URIs.
 *   background-image: url('../images/func_arrowboxdown_16_hov.png');
 */
.scs-file-list-file-download-icon:hover {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAZElEQVQ4y2NgoCVo3f18PxDvosSA/0D8j1ID/g8hA4CK7YD4J0wjFgySsyNkiD8OQ0Bi/sS6xBfNkB8gMVL97wnE34H4KxC7kxVQQHEnILbHq4/cqKK+AeRikAE3KDDgBsU5FgDWtABM3qzo8AAAAABJRU5ErkJggg==');
}

/* CCS-71097 - workaround failure to load state background image on iPhone
 * by including base64 encoded image data directly via data URIs.
 *   background-image: url('../images/func_arrowboxdown_16_onb.png');
 */
.scs-file-list-file-download-icon:active {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAWklEQVR4AbWOMQqAMBAE92URbMQi5L82fiMfEU3j2FjcQUxQcLYd2NFLWFmQnfCDsyfwlxAoWArBCyIZpZBqF/FWDuJTw8zOxuQbfNbI4JJr3Z+EBiLTIovOLq4HM5frygqGAAAAAElFTkSuQmCC');
}

.scs-file-list-no-file-msg {
	font-size: 24px;
	font-family: "Helvetica Neue","Segoe UI",sans-serif-regular,Helvetica,Arial,sans-serif;
	color: #333;
	font-weight: normal;
	text-decoration: none;
	margin-left:20px;
}

@media (max-device-width: 767px) {
	.scs-file-list-no-file-msg{
		margin-left:10px;
	}
}

.scs-file-list-center {
	text-align: center;
}

.scs-file-list-container ul {
	margin: 0px;
	padding: 0px;
}

.scs-file-list-container li:hover {
	background-color: rgba(49,49,49,0.04);
}

.scs-file-list-container a:hover {
	cursor: pointer;
}


/**
 * --------------------------------------
 * Documents Manager
 * --------------------------------------
 */

.scs-docs-mgr-frame-wrapper iframe {
	display: block;
	width: 100%;
	height: 100%;
	border: none;
}


/**
 * ---------------------------------------
 * conversation App
 * ---------------------------------------
 */

.scs-convo-no-auth-msg {
	font-size: 12px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #333333;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
}


/**
 * ---------------------------------------
 * conversation list App
 * ---------------------------------------
 */

.scs-convo-list-container {
	padding: 0.0rem;
	margin: 0px;
}

.scs-convo-list-light .scs-convo-list-container {
	background-color: #ffffff;
}

.scs-convo-list-dark .scs-convo-list-container {
	background-color: #3c3e40;
}

.scs-convo-list-redwood .scs-convo-list-container {
	background-color: #ffffff;
}

.scs-convo-list-no-auth-msg {
	font-size: 18px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #333;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
}

.scs-convo-list-no-convo-msg {
	font-size: 18px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #333;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
}

.scs-convo-list-notitle {
	height: 1px !important;
	margin: 0;
	padding: 0;
}

.scs-convo-list-header {
	background-color: #fcfcfc;
}

.scs-convo-list-light .scs-convo-list-header {
	background-color: #fcfcfc;
}

.scs-convo-list-dark .scs-convo-list-header {
	background-color: #3c3e40;
}

.scs-convo-list-redwood .scs-convo-list-header {
	background-color: #f5f4f2;
}

.scs-convo-list-container ul {
	margin: 0px;
	padding: 0px;
}

.scs-convo-list-container li {
	display: list-item;
	margin: 0px;
	padding: 15px 0px 15px 20px;
}

.scs-convo-list-title {
	font-size: 28px;
	line-height: 66px;
	font-style: normal;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #313131;
	margin-left:20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@media (max-device-width: 767px) {
	.scs-convo-list-title {
		font-size: 24px;
		line-height: 58px;
		margin-left:10px;
	}
}

.scs-convo-list-light .scs-convo-list-title {
	color: #313131;
}

.scs-convo-list-dark .scs-convo-list-title {
	color: #C0C4C8;
}

.scs-convo-list-redwood .scs-convo-list-title {
	font-family: 'Oracle Sans',-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif;
	color: #161513;
}

.scs-convo-list-light .scs-convo-list-line-separator {
	border-bottom: 1px solid rgba(49,49,49,0.04);
}

.scs-convo-list-dark .scs-convo-list-line-separator {
	border-bottom: solid thin #47494c;
}

.scs-convo-list-redwood .scs-convo-list-line-separator {
	border-bottom: solid thin rgba(22,21,19,0.1);
}

.scs-convo-list-light .scs-convo-list-row:not(:last-child)  {
	border-bottom: 1px solid #dfe4e7;
}

.scs-convo-list-dark .scs-convo-list-row:not(:last-child) {
	border-bottom: 1px solid #47494c;
}

.scs-convo-list-redwood .scs-convo-list-row:not(:last-child) {
	border-bottom: 1px solid rgba(22,21,19,0.1);
}

.scs-convo-list-light .scs-convo-list-row:hover {
	background-color: rgba(49,49,49,0.04);
}

.scs-convo-list-dark .scs-convo-list-row:hover {
	background-color: #4f5254;
}

.scs-convo-list-redwood .scs-convo-list-row:hover {
	background-color: rgba(22,21,19,0.04);
}

.scs-convo-list-light .scs-convo-list-row-active{
	background-color: rgba(49,49,49,0.08);
}

.scs-convo-list-dark .scs-convo-list-row-active {
	background-color: #313334;
}

.scs-convo-list-redwood .scs-convo-list-row-active {
	background-color: #e5f4dc;
}

.scs-convo-list-convo-title {
	font-size: 16px;
	font-family: 'Helvetica Neue','Segoe UI',sans-serif-regular,Helvetica,Arial,sans-serif;
	color: #313131;
	white-space: nowrap;
	width: 95%;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	font-weight: normal;
}

@media (max-device-width: 767px) {
	.scs-convo-list-convo-title {
		font-size: 14px;
		margin-left:10px;
	}
}

.scs-convo-list-light .scs-convo-list-convo-title {
	color: #313131;
}

.scs-convo-list-dark .scs-convo-list-convo-title {
	color: #fff;
}

.scs-convo-list-redwood .scs-convo-list-convo-title {
	color: #161513;
}

.scs-convo-list-convo-title:hover {
	cursor: pointer;
}

.scs-convo-list-convo-detail{
	font-size: 12px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: normal;
	color: #666;
	line-height: 16px;
	padding-top: 6px;
}

.scs-convo-list-convo-posts {
	width: 100px;
	float: left;
}

.scs-convo-list-convo-unread {
	width: 100px;
}

.scs-convo-list-convo-updated {
	clear: both;
	display: block;
}

.scs-convo-list-light .scs-convo-list-convo-detail {
	color: #666;
}

.scs-convo-list-dark .scs-convo-list-convo-detail {
	color: #b3b3b3;
}

.scs-convo-list-redwood .scs-convo-list-convo-detail {
	color: rgba(22,21,19,0.6);
}

.scs-convo-list-convo-newline {
	clear: both;
}

/* end of conversation list */


/**
 * ---------------------------------------
 * PCS start form App
 * ---------------------------------------
 */

.scs-start-form-container {
	padding: 0.0rem;
	margin: 0px;
}

.scs-start-form-no-auth-msg {
	font-size: 12px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #333333;
	font-weight: normal;
	text-decoration: none;
}

.scs-start-form-no-form-msg {
	font-size: 12px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #333333;
	font-weight: normal;
	text-decoration: none;
}

.scs-start-form-submit-confirm {
	background: #FFFFFF;
	display: -webkit-flex;
	display: flex;
	vertical-align: top;
	padding-bottom: 2px;
}

.scs-start-form-submit-confirm-check {
	width: 34px;
	height: 34px;
	background-color: #81BA5E;
	background-image: url('../images/msg-checkbox.svg');
	background-repeat: no-repeat;
	background-position: center;
	flex: 1 auto;
}

.scs-start-form-submit-confirm-msg {
	font-size: 12px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #333333;
	font-weight: 400;
	text-decoration: none;
	margin-left: 14px;
	align-self: center;
	flex: 1 100%;
}

.scs-start-form-submit-confirm-close {
	flex: 1 auto;
	margin-right: 20px;
	background-image: url('../images/msg-close-x.png');
	background-color: #FFFFFF;
	background-repeat: no-repeat;
	background-position: center;
	border: none;
}

.scs-start-form-submit-confirm-close:hover {
	background-image: url('../images/msg-close-x.png');
}

.scs-start-form-submit-confirm-close:active {
	background-image: url('../images/msg-close-x.png');
}

.scs-start-form-center {
	text-align: center;
}

/* end of start form */


/**
 * ---------------------------------------
 * PCS task details app
 * ---------------------------------------
 */

.scs-task-details-container {
	padding: 0.0rem;
	margin: 0px;
}

.scs-task-details-no-auth-msg {
	font-size: 12px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #333333;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
}


/* end of PCS Task Details app */


/**
 * PCS Task List app
 */

.scs-task-list-container {
	padding: 0.0rem;
	margin: 0px;
}

.scs-task-list-no-auth-msg {
	font-size: 12px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #333333;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
}

.scs-task-list-no-connection-msg {
	font-size: 12px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #333333;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
}


/* end of PCS Task List app */


/**
 * ---------------------------------------
 * project-library App
 * ---------------------------------------
 */

.scs-project-library-container {
	padding: 0.0rem;
	margin: 0px;
}

.scs-project-library-light .scs-project-library-container {
	background-color: #ffffff;
}

.scs-project-library-dark .scs-project-library-container {
	background-color: #3c3e40;
}

.scs-project-library-redwood .scs-project-library-container {
	background-color: #ffffff;
}

.scs-project-library-no-folder-msg {
	font-size: 20px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #333;
	font-weight: normal;
	text-decoration: none;
}

@media (max-device-width: 767px) {
	.scs-project-library-no-folder-msg {
		margin-left:10px;
	}
}

.scs-project-library-center {
	text-align: center;
}

.scs-project-library-header {
	height: 66px;
	margin-bottom: 5px;
}

@media (max-device-width: 767px) {
	.scs-project-library-header {
		 height: 58px;
		 margin-bottom: 2px;
	}
}

.scs-project-library-light .scs-project-library-header {
	background-color: #f2f2f2;
}

.scs-project-library-dark .scs-project-library-header {
	background-color: #3c3e40;
}

.scs-project-library-redwood .scs-project-library-header {
	background-color: #f5f4f2;
}

.scs-project-library-notitle {
	height: 1px !important;
	margin: 0;
	padding: 0;
}

.scs-project-library-title {
	font-size: 28px;
    line-height: 66px;
    font-style: normal;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: lighter;
    margin-left: 20px;
}

@media (max-device-width: 767px) {
	.scs-project-library-title {
		font-size: 24px;
		line-height: 58px;
		margin-left:10px;
	}
}

.scs-project-library-light .scs-project-library-title {
	color: #333;
}

.scs-project-library-dark .scs-project-library-title {
	color: #C0C4C8;
}

.scs-project-library-redwood .scs-project-library-title {
	font-family: 'Oracle Sans',-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif;
	color: #161513;
}

.scs-project-library-light .scs-project-library-line-separator {
	border-bottom: solid thin #f5f5f5;
}

.scs-project-library-dark .scs-project-library-line-separator {
	border-bottom: solid thin #47494c;
}

.scs-project-library-redwood .scs-project-library-line-separator {
	border-bottom: solid thin rgba(22,21,19,0.1);
}

.scs-project-library-light .scs-project-library-folder-line-separator {
	border-bottom: 1px solid #f5f5f5;
}

.scs-project-library-dark .scs-project-library-folder-line-separator {
	border-bottom: 1px solid #47494c;
}

.scs-project-library-redwood .scs-project-library-folder-line-separator {
	border-bottom: 1px solid rgba(22,21,19,0.1);
}

.scs-project-library-light .scs-project-library-row:hover {
	background-color:#f2f2f2;
}

.scs-project-library-dark .scs-project-library-row:hover {
	background-color: #4f5254;
}

.scs-project-library-redwood .scs-project-library-row:hover {
	background-color: rgba(22,21,19,0.04);
}

.scs-project-library-light .scs-project-library-active .scs-project-library-row {
	background-color:#D9D9D9;
}

.scs-project-library-dark .scs-project-library-active .scs-project-library-row {
	background-color: #313334;
}

.scs-project-library-redwood .scs-project-library-active .scs-project-library-row {
	background-color: #e5f4dc;
}

.scs-project-library-folder-title {
	font-size: 24px;
	font-family: 'Helvetica Neue','Segoe UI',sans-serif-regular,Helvetica,Arial,sans-serif;
	color: #000;
	white-space: nowrap;
	width: 95%;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	font-weight: lighter;
	margin-left:20px;
	text-decoration: none;
	margin-top:15px;
	margin-bottom:15px;
}

@media (max-device-width: 767px) {
	.scs-project-library-folder-title {
		font-size: 20px;
		margin-left:10px;
		margin-top:10px;
		margin-bottom:10px;
	}
}

.scs-project-library-light .scs-project-library-folder-title {
	color: #000;
}

.scs-project-library-dark .scs-project-library-folder-title {
	color: #fff;
}

.scs-project-library-redwood .scs-project-library-folder-title {
	color: #161513;
}

.scs-project-library-folder-title:hover {
	cursor: pointer;
}

.scs-project-library-active {
	cursor: pointer;
}

.scs-project-library-folder-newline {
	clear: both;
}

.scs-project-library-container ul {
	margin: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
}

.scs-project-library-container li {
	display: list-item;
	margin: 0px;
	padding: 0px;
}

/* end of project-library */


/**
 * ---------------------------------------
 * twitter-share App
 * ---------------------------------------
 */

/* hide the twitter button until fully rendered.  NB: These are Twitter supplied class names */
.twitter-follow-button {
	display: none
}

.twitter-follow-button-rendered {
	display: block
}
